{% extends 'base.html.twig' %}

{% block title %}value index{% endblock %}

{% block body %}
    <h1>{{ name }} index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Adress</th>
                <th>Zip_code</th>
                <th>Contact</th>                
                <th>actions</th>                
            </tr>
        </thead>
        <tbody>
        {% for value in values %}
            <tr>
                <td>{{ value.id }}</td>
                <td>{{ value.name }}</td>
                <td>{{ value.adress }}</td>
                <td>{{ value.zipCode }}</td>
                <td>{{ value.contact }}</td>                                     
                <td>
                    <a href="{{ path('ville_show', {'id': value.id}) }}">show</a>
                    <a href="{{ path('ville_edit', {'id': value.id}) }}">edit</a>
                </td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ville_new') }}">Create new</a>
{% endblock %}
